body{
    background-color: #00B070;
}


/* Navlist Padding */
.navbar-nav>li {
    padding-left: 5px;
    padding-right: 5px;
}

/* image in top nav bar "sell on jumia" */
.container img{ 
    height: 2%;
    width: 3%;
}


/* image attached to topnav list "Jumia with chart logo" */
.collapse img{
    height: 7%;
    width: 5%; 
    padding-top: 5px;  
}

/* .navbar{ height: 30%;
} */




/* SECOND NAVBAR */


.secondnavbar img{ 
    height: 10%;
    width: 20%;
}

.secondnavbar{
    background-color: white;
}


/* SEARCH BUTTON */
.btn{
    color: white;
    font-size: small;
    font-weight: bold;
    background-color: #fe9900;
}


.secondnavlist{
    font-weight: bold;
    font-size: x-large;

    }


    /* GRID AND CAROUSEL IMAGE */
    .wrapper{
        display:grid ;
        grid-template-columns: 30% 80%;
        grid-gap: 1em;
        padding-top: 2em;
        align-items: center;

       }






    /* outlinning  */
    .wrapper > div{
        background:#00B070 ;
        padding: 1em;
        border-radius: 1em;
        
    }

    .wrapper > div:nth-child(odd)
    
    {background: #ddd;
       
}

/* stylish button */

.asdbutton{
    padding:1%;
    background-color: ;
    
   
    
}

.btt {
    background-color:black;
}


/* card with heading */
.card{
    width: 90em;
    height: 35em;
    border-radius: 1em;
    
}

.card-header{
    background-color: red;
}

.card-header:hover img {
    box-shadow: 5px 10px 15px rgba(0, 0, 0, .15);
}




.card-header p{
    font-size: x-large;
    font: bolder;
    color: #eee;  
}
    

/* card warraper  */ 

.cardwrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-radius: 1em
    
    
}


.row img {
    width:  25%;
    height: 25%;
}



/* Third Display */
.thirdwrapper{ 
    display: grid;    
    grid-template-columns: 60% 40%;
    background:#eee;
    width: auto;
    height: auto;
    padding: 1em;
  
}


.thirdwrapper img{
    height: auto;
width: auto;
padding: 1em;

}
