body {
  background-color: #f5f5f5;
  padding: 0;
  min-height: 100%;
  min-width: 950px;
  box-sizing: border-box;
}

/* NAVLIST PADDING */
.navbar-nav > li {
  padding-left: 5px;
  padding-right: 5px;
}

/* IMAGE IN TOP NAV BAR "sell on jumia" */
.container img {
  height: 2%;
  width: 3%;
}

/* NAVBAR-BRAND ID */
#text {
  color: #fe9900;
}

/* IMAGE ATTATCHED TO TOPNAV LIST "Jumia with chart logo" */
.collapse img {
  height: 7%;
  width: 5%;
  padding-top: 5px;
}

/* SECOND NAVBAR */
.secondnavbar img {
  height: 10%;
  width: 20%;
}

.secondnavbar {
  background-color: white;
}

/* SEARCH BUTTON IN NAVBAR*/
.navbtn {
  color: white;
  font-size: small;
  font-weight: bold;
  background-color: #fe9900;
  border: #fe9900;
  border-radius: 0.5em;
}

/* SECOND NAVBAR LIST */
.secondnavlist {
  font-weight: bold;
  font-size: x-large;
  padding: 8px;
}

/* GRID AND CAROUSEL IMAGE */
.wrapper {
  display: grid;
  grid-template-columns: 30% 80%;
  grid-gap: 1em;
  padding-top: 2em;
  align-items: center;
}

/*CAROUSEL IMAGES STYLING  */
.carousel img {
  border-radius: 0.5em;
}

/* GRID ITEM DIVISION & CAROUSEL BACKGROUND*/
.wrapper > div {
  background: #f5f5f5;
  padding: 1em;
  border-radius: 0.5em;
}

/* GRID ITEM ONLY  */
.wrapper > div:nth-child(odd) {
  background: #ffffff;
  font-family: Helvetica Neue, Arial, sans-serif;
  display: block;
  box-sizing: border-box;
  height: 93.5%;
  /* padding: 8px; */
}

/* card with heading */
/* .card {
  width: 90em;
  height: 35em;
  border-radius: 1em; 
} */

/* Sercive Buttons */

/* .services {
  display: flex;
  justify-content: space-evenly;
} */

.service-button {
  color: black;
  font-weight: bold;
  text-decoration: none;
  padding: 1%;
  padding-inline-end: 10%;
  justify-items: center;
  align-items: center;
  background-color: #FFFFFF;
  margin: 1rem;
  border-radius: 0.5em;
  box-sizing: border-box;
}

.service-button img {
  justify-content: center;
}
